<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
	{% include 'dependencies.html' %}
	{% include 'header.html' %}
</head>
<body>
<div id="page-container">
        <div id="content">
        <div id="home-box" class="container">
        <h1 class="home-mainheading text-center my-4">Latest Article</h1>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-12 mx-auto">
                <div id="main-card" class="card">
                    <a class="home-a" href="/posts">
                        <div class="article">
                            <img id="homepage-image" src="/static/chris-ried-ieic5Tq8YMk-unsplash.jpg" class="img-fluid" alt="...">
                            <h2 class="home-title">Why I choose to study web development?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo augue vel lacus eleifend, eu tempus massa ullamcorper.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>

